.currency {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 40px;
  &_item {
  }
}

@media (min-width: 800px) {
  .currency {
    margin: 20px 0;
    gap: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
